.btnBig {
  cursor: pointer;
  align-items: center;
  height: 60px;
  padding: 0px 20px 0px 20px;
  margin-top: 1.25rem;
  border-radius: 0.5rem;

  font-family: var(--font-family-primary);
  color: var(--gray-300);
  background: var(--gray-100);
  border: 2px solid var(--gray-100);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.21rem;

  &:hover {
    
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--gray-0);

  }
  
}

.btnSm {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  height: 40px;
  padding: 0px 20px;
  border-radius: 0.5rem;

  font-family: var(--font-family-primary);
  color: var(--gray-0);
  
  background: var(--gray-300);
  border: 2px solid var(--gray-300);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.21rem;

  &:hover {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--gray-0);
  }
}