@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* FONTS */
  --font-family-primary: "Inter", sans-serif;

  /* COLORS */
  --color-primary: ##27AE60;
  --color-secondary: #EB5757;

  /* GRAY SCALE */
  
  --gray-0:   #F5F5F5;
  --gray-100: #E0E0E0;
  --gray-300: #828282;
  --gray-600: #333333;
  
  /* UTILS */
  --container-max-width: 1366px;
}

body {
  background-color: var(--gray-0);
  color: var(--gray-100);
  font-family: var(--font-family-primary);
}

.container {
  max-width: var(--container-max-width);
  margin: 1rem auto;
  padding-inline: 1rem;
}
