.title {
    font-weight: 700;
    line-height: 1.4;
  
    &.one {
      font-size: 26px;
    }
  
    &.two {
      font-size: 22px;
    }
  
    &.three {
      font-size: 18px;
      color: var(--gray-600);
    }
  }
  
  .body {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
  }
  
  .Headline {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  
    &.body {
      font-size: 14px;
    }
  
    &.caption {
      font-size: 12px;
      color: var(--gray-600);
    }
  }

  h3 {

    font-size: 18px;
    font-weight: 700;
    color: var(--gray-600);    

  }

  p {

    color: var(--gray-600);

  }
