.header {

    background-color: var(--color-gray-0);
    display: flex;
    padding-block: 2.5rem;
    height: 80px;
    align-items: center;
    box-shadow: 0px 4px 32px -12px #00000040;

}

.headerDiv {

    width: 1366px;
    height: 39px;
    margin-top: 21px;
    margin-left: 118px;    
    margin-right: 116px;
    display: flex;
    justify-content: space-between;

}

.cartCountContainer {

    position: relative;
    width: 25px;
    height: 25px;
 
}
  
  .cartItemCount {

    position: absolute;
    top: -50px;
    left: 18px;
    background-color: var(--color-primary);
    color: white;
    padding: 2px 6px; 
    border-radius: 7px; 
    width: 20px;
    height: 24px;
    align-items: center;
    
}